.actions {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  flex: 1;
}

.button {
  color: white;
  border-bottom: 1px solid #2b2a2a;
  border-right: 1px solid #2b2a2a;
  text-transform: uppercase;
}

.zero {
  grid-column: span 2;
  background: rgba(128, 128, 128, 0.96);
}

.reset {
  grid-column: span 3;
  background: rgba(51, 51, 51, 0.84);
}

.operator {
  background: orange;
}

.numbers {
  background: rgba(128, 128, 128, 0.96);
}

.line {
  border-bottom: 1px solid black;
  width: 100%;
}